
params {

  // --------------------------------                                             
  // Directories for input and output                                             
  // --------------------------------                                             
  input_dir = "$baseDir/input/"                                            
  fastq_dir = "${params.input_dir}/fastq/"                                 
                                                                                  
  // Directory where R (and any other) scripts are.                                                 
  script_dir="${baseDir}/scripts"                                          
                                                                                  
  outdir = "$baseDir/results"                                              
  initial_fastqc_dir = "${params.outdir}/initial_fastqc/"                  
  post_trim_fastqc_dir = "${params.outdir}/post_trim_fastqc/"              
  trimmed_outdir = "${params.outdir}/trimmed_fastq"                        
  tracedir = "${params.outdir}/pipeline_info"
                                                                                
  // the Local installation of NCBI nt database                                   
  local_nt_database ="/scicomp/reference/ncbi-blast/current/nt"  

  // -------------------                                                          
  // Reference sequences                                                          
  // -------------------                                                          
  // TODO: check that appropriate refseq files exist                              
  refseq_dir = "${baseDir}/refseq"                                         
  targets = "${params.refseq_dir}/targets.tsv"                             
  off_target_refseq_fasta = "${params.refseq_dir}/off_target_products.fasta"
                                                                                  
  // ---------------                                                              
  // Sample metadata                                                              
  // ---------------                                                              
  // TODO (possibly) Force the user to specify a file (?)                         
  metadata = "${params.input_dir}/sample_metadata.xlsx"                    

}



process {

  withLabel: 'highmem' {
    maxForks = 4
  }
  withLabel: 'lowmem' {
    maxForks = 16
  }
}

profiles {
    
    conda {
        params.enable_conda    = true
        conda.cacheDir         = "$HOME/conda_cacheDir"
        singularity.enabled    = false
    }
    singularity {
        params.enable_conda    = false
        singularity.enabled    = true
        singularity.autoMounts = true
        singularity.cacheDir   = "$HOME/singularity_cacheDir"
    }
    test      { includeConfig 'conf/test.config'      }
}


def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.tracedir}/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.tracedir}/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.tracedir}/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.tracedir}/pipeline_dag_${trace_timestamp}.svg"
}

manifest {
    name            = 'stenglein-lab/tick_surveillance'
    author          = 'Mark Stenglein'
    homePage        = 'https://github.com/stenglein-lab/tick_surveillance'
    description     = 'A pipeline to analyze amplicon sequencing data for tick-borne pathogens'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=21.04.0'
    version         = '1.0'
}

