process {
  process.executor = "sge"
  process.queue = "all.q"
  process.penv = 'smp 4,8'
  executor.queueSize = 100
  executor.cpus = 8
  executor.memory = '16 GB'
}

params	{
  local_nt_database          = "/scicomp/reference/ncbi-blast/current/nt"
  remote_blast_nt            = false
  blast_unassigned_sequences = true
}
