params {

  // several negative and positive control fastq for testing
  fastq_dir = "${baseDir}/test/fastq/"
  
  // and metadata
  metadata = "${baseDir}/test/test_metadata.xlsx"

  // put testing results in test_results folder
  outdir = "test/results"

  
  local_nt_database_dir = '/scicomp/reference/ncbi-blast/current/nt'
  remote_blast_nt = false
  blast_unassigned_sequences = true
  blast_tax_dir              = null

}
