params {

  // several negative and positive control fastq for testing
  fastq_dir = "test/fastq/"
  
  // and metadata
  metadata = "test/test_metadata.xlsx"

  // put testing results in test_results folder
  outdir = "test/results"
                                                                                  
}
