params {
  use_simulated_test_datasets = true 

  // ------------------------------------                                         
  // Simulated internal-control datasets                                          
  // ------------------------------------                                         
  simulated_fastq_dir = "${params.refseq_dir}/simulated_fastq/"            

  // TODO: create test sample metadata on the fly? 
  metadata = "${params.input_dir}/sample_metadata.xlsx"
                                                                                  
  // simulated internal control datasets                                          
  // background probability of errors for simulating fastq                        
  simulated_error_profile_file = "${baseDir}/refseq/q35_errors.txt"        
  simulated_read_length = 250                                              
                                                                                
  // the # of read pairs in simulated datasets                                    
  simulated_dataset_sizes = [0,1,10,100] 
}
